@charset "UTF-8";

.dataTables_wrapper table.dataTable tbody tr td{

    &.amb,&.blau,&.carg, &.edp, &.emt,
    &.ende,&.easy, &.este,&.etec, &.feni,
    &.ghol,&.gic,&.iber,&.ioni, &.pors,
    &.reps,&.tesl, &.urbe, &.wene
    {
      visibility: hidden;
      display:block;
      height: 4rem;
      &::before{
        width: 10rem;
        height: 4rem;
        visibility: visible;
        content:'';
        position:absolute;
        display:block;
        background-position: center center;
        background-repeat: no-repeat;
        background-size:contain;
      }
    }
   // image: url("../operators/svg/"+$img+".svg"), none;
  &.amb::before{
    background-image: url('../assets/operators/amb.svg');

  }
  &.blau::before{
    background-image: url('../assets/operators/blaudrive.svg');

  }
  &.carg::before{
      background-image: url('../assets/operators/cargacoches.svg') ;

  }
  &.edp::before{
      background-image: url('../assets/operators/edp.svg');

  }
  &.emt::before{
    background-image: url('../assets/operators/emt.svg');

  }
  &.ende::before{
    background-image: url('../assets/operators/endesax.svg');

  }
  &.easy::before{
    background-image: url('../assets/operators/easycharger.svg');

  }
  &.este::before{
    background-image:  url('../assets/operators/estabanell.svg');

  }
  &.etec::before{
    background-image: url('../assets/operators/etecnic.svg');

  }
  &.feni::before{
    background-image: url('../assets/operators/fenie.svg');

  }
  &.ghol::before{
    background-image: url('../assets/operators/ghol.svg');

  }
  &.gic::before{
    background-image: url('../assets/operators/gic.svg');

  }
  &.iber::before{
    background-image: url('../assets/operators/iberdrola.svg');

  }
  &.ioni::before{
    background-image: url('../assets/operators/ionity.svg');

  }
  &.pors::before{
    background-image: url('../assets/operators/porsche.svg');

  }
  &.reps::before{
    background-image: url('../assets/operators/repsol.svg');

  }
  &.tesl::before{
    background-image: url('../assets/operators/tesla.svg');

  }
  &.urbe::before{
    background-image:  url('../assets/operators/urbener.svg');

  }
  &.wene::before{
    background-image: url('../assets/operators/wenea.svg');

  }
  @media (map-get($rd-types, lg)){
    &.amb,&.blau,&.carg, &.edp, &.emt,
    &.ende,&.easy, &.este,&.etec, &.feni,
    &.ghol,&.gic,&.iber,&.ioni, &.pors,
    &.reps,&.tesl, &.urbe, &.wene
    {
      &::before{
        width:30rem;
      }
    }
  }
}
