@charset "UTF-8";

header{
  padding:1rem;
  top:0;
  color:$ch-02;
  @extend %fontnormal;
  h1{
    position:relative;
    padding:1rem 0 0.5rem 6rem;
    text-indent:-999%;
    width:15.5rem;
    height:9rem;
    margin:0 auto;
    @include svg(logo, left top);
    font-size:3.6rem;
  }
  h2{
    font-size:1.6rem;
    display: flex;
    flex-wrap: wrap;
    margin:2rem 0;
  }
  h3{
    font-size:1.4rem;
    text-align:right;
    margin:0 0 1rem 0;
  }
  @media (map-get($rd-types, lg)){
    width: 50%;
    margin: 0 auto;
  }
}

