@charset "UTF-8";
.dataTables_wrapper{
  width:100%;
  margin:0 auto 2rem auto;
  @extend %fontnormal;

  .dataTables_processing{
    width: 17rem;
    height: 8rem;
    margin: 0 auto;
    text-indent:-999999em;
    @include svg(load,center center);

  }

  .dataTables_filter{
    margin:0 0 2rem 0;
    text-align:left;
    input{
      @extend %fontnormal;
      width:100%;
      padding:0.5rem;
      font-size: 1.4rem;
    }
  }
  .dataTables_paginate{
    width:100%;
    padding:2rem 0;
    text-align:center;
    font-size:1.4rem;
    border-top:0.1rem solid $ch-05;
    border-bottom:0.1rem solid $ch-05;

    .ellipsis{
      color:$ch-02;
    }
    a{
      color:$ch-02;
      padding:0.5rem 1.1rem;
      border-radius: 0.5rem;
      border: none;
      background:none;
        &:hover, &.current{
          text-decoration:none;
          background: $ch-01;
          color:$ch-04;
        }
      }
  }
 .dataTable{
    width:100% !important;
    color:$ch-06;
    font-size:1.4rem;
    font-weight: 600;
    thead{
      .sorting{
        @include svg(sort_both, 97% center);

        &_asc{
          @include svg(sort_asc, 97% center);
        }
        &_desc{
          @include svg(sort_desc, 97% center);
        }
      }

      tr{
        th{
          padding:1rem 0;
          vertical-align: middle;
          &:nth-child(2){
            width:32%;
          }
        }
      }
    }

    tbody tr{
      &.details{
        background:$ch-04;
        td{
          padding:0.5rem;
        }
        &:hover{

          td{
            background:none;
          }
        }
      }

      &:hover, &.sel{
        td{
          &.sorting_1{
            background:$ch-04;
          }
        }
        background:$ch-04;
      }
      td{
        vertical-align: middle;
        padding:1rem 0 1rem 0.5rem;
        line-height:1.8rem;

        &:nth-child(3),&:nth-child(4){
          text-align:center;
        }
        &.dataTables_empty{
          display:none;
        }

        &.sorting_1{
          background:$ch-04;
        }
        &.legends{
          position:relative;
          width:2.5rem;
          height:4rem;
          &::before{
            content:'...';
            position: relative;
            top: -0.2rem;
            font-size:2rem;
            line-height: 0;
            display:inline-block;
            // @include svg(legend, center center);
          }

          &.open, &:hover{
              &::before{
                color:$ch-01;
                top:0;
                line-height: 2rem;
                left: 0.5rem;
                transform: rotate(90deg);
              }
            }
        }
      }

    }
  }

  @media (map-get($rd-types, lg)){
    width: 50%;
    .dataTable{
      thead tr th{
        font-weight:600;
        &:nth-child(2){
          width:50%;
        }
      }
    }

  }
}
