@charset "UTF-8";

table{
  tbody{
    tr{
      &.odd{}
    }
    td{
      vertical-align: middle;
      font-size:1.2rem;
    }
    td.legends{
      position:relative;
      width:2.5rem;
        height:2.5rem;
      &::before{
        content:'';

        width:2.5rem;
        height:2.5rem;
        display:inline-block;
        @include svg(legend, center center);
      }

      &.open, &:hover{
          &::before{
            position:relative;
            top:-0.1rem;
            left:0.1rem;
            transform: rotate(90deg);
          }
        }
    }
  }
}


